*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#head{
    padding-left: 5px;
    width: 100%;
    height: 10%;
    background: #333333;
    color: #FFFFFF;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#chat-box{
    background: #F5F5F5; /* White Smoke */
    color: #333333; 
    width: 100%;
    height: 90%;
    background: whitesmoke;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
}

#chat-texts{
    height: 90%;
    width: 50%;
    padding-left: 10px;
    background: whitesmoke;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow-y: auto; 
    overflow-x: hidden;
}
#send-texts{
    display: flex;
}


input{
    display: block;
    width: 620px;
    height: 45px;
    border-radius: 15px;
    padding: 2px 12px;
    font-size: 1.2rem;
}
button{
    width: 100px;
    height: 45px;
    border-radius: 15px;
    font-size: 1.2rem;
    color: whitesmoke;
    background: #333333;
}
button:hover{
    
    background: #F5F5F5; /* White Smoke */
    color: #333333;
   
    cursor: pointer;
}


#foot{
    width: 100%;
    height: 10%;
    background: #333333; /* Dark Gray */
    color: #FFFFFF;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


a{
    color: #333333;
    display: block;
    margin-top: 8px;
   
}


a:hover{
    color: #33333395;
   
}


@media (max-width: 600px) {
   

    input{
        width: 100%;
        padding: 10px;
    }
    button{
        width: 50%;
        padding: 10px;
    }
   
    #chat-box {
        background: #F5F5F5; /* White Smoke */
        color: #333333; 
        width: 100%;
        height: 90%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Keep the input at the bottom */
        align-items: center;
    }
    
    #chat-texts {
        height: 95%; /* Set a specific height */
        width: 100%; /* Use full width for mobile */
        padding-left: 10px;
        background: #eaeaea; /* Richer grey background */
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        overflow-y: auto; /* Enable vertical scrolling if content exceeds */
        overflow-x: hidden; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent wrapping of messages */
    }
    
    #chat-texts p {
        margin: 5px; /* Add some margin between messages */
    word-wrap: break-word; /* Allow long words to break and wrap to the next line */
    white-space: normal;/* Add some margin between messages */
    }
    
}
